body{
    background: linear-gradient(210deg, #565656, #ababab, #ffffff, #ababab);
    color:#ffffff;
}

img{
    width: 350px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

.crab{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-style: groove;
    border-width: auto;
    border-color: #ABABAB;
    background:linear-gradient(300deg, #ABABAB, #e1e1e1, #f6f6f6, #c4c4c4, #e7e7e7)



}

p{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}